.header {
  background-color: darkblue;
  margin-top: 0px;
  color: white;
  font-family: cursive;
  text-align: center;
  height: 42px;
}

.formAnalytics {
  margin-left: 5%;
  margin-right: 5%;
}

.appDiv {
  margin-left: 25px;
  margin-top: 25px;
  margin-right: 25px;
}

.analyticsInput {
  width: 80%;
  padding: 8px 10px;
  /* margin: 8px 0; */
  /* display: inline-block; */
  border: 1px solid #ccc;
  border-radius: 4px;
  /* box-sizing: border-box; */
}

.reportInsights {
  float: left;
  width: 45.5%;
  margin-top: 0.5%;
  margin-bottom: 2%;
  margin-left: 3%;
  margin-right: 1.5%;
  background-color: #f0f0f0;
}

.globalInsights {
  float: left;
  width: 45.5%;
  margin-top: 0.5%;
  margin-bottom: 2%;
  margin-left: 1.5%;
  margin-right: 3%;
  background-color: #f0f0f0;
}

.arrow {
  border: solid grey;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  /* display: none; */
  /* visibility: hidden; */
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  /* display: ''; */
}

.card {
  word-wrap: initial;
}

.filterKpi,
.groupKpi {
  word-wrap: initial;
}

.filterDropdowns {
  color: white;
  /* background-color: #009900; */
  /* background-color: #00802b; */
  /* border: 1px solid #009900; */
  /* background-color: white; */
  border: 2px solid #04aa6d;
  border-radius: 4px;
  color: darkcyan;
  display: flex;
  padding: 2px;
  /* text-align: center; */
  justify-content: center;
  /* color:white */
}

th {
  clear: left;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
}
